<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.231003.120850-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.231002.104103-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.231005.192413-sym" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.231012.113523-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.231022.71615-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.231022.71617-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.231025.60405-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.231003.172246-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._stat_._LIB_" version="1.1.230706.153455-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.231103.90416-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.231101.104953-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.230806.55120-sym" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.231102.193316-sym" targetFramework="net481" />
  <package id="nilnul.collection._axiomatic_._LIB_" version="1.0.230524.152505-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.230621.120911-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="1.1230806.123209-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="1.1230804.164911-sym" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.230517.130110-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230716.154720-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.231025.120651-sym" targetFramework="net481" />
  <package id="nilnul.num.complex._func_._LIB_" version="1.0.230522.85453-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230507.144737-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.230509.153304-sym" targetFramework="net481" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.230804.73424-sym" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>