<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230219.83348-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230227.141902-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230317.145952-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.230118.82646-sym" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.220906.140610" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230211.165852-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230204.111417-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230219.75946-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230318.123603-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._stat_._LIB_" version="1.1.230316.181955-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.230319.90029-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230107.122025-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.220909.180901" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.221119.43115" targetFramework="net481" />
  <package id="nilnul.collection._axiomatic_._LIB_" version="1.0.8064.37643" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net481" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.220815.32404" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.230316.164423-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.220731.183914" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230206.161540-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230307.155454-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.230316.125442-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230316.155248-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.220814.74253" targetFramework="net481" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.220731.175331" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.230316.164258-sym" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>