<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230415.182959-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230219.73454-sym" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230415.233652-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230408.121401-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.230608.82709-sym" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.220906.140610" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230522.92555-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230419.172425-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230612.140410-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230318.123603-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230615.145110-sym" targetFramework="net481" />
  <package id="nilnul._stat_._LIB_" version="1.1.230616.165153-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.230319.90029-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.230426.165255-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.221219.174250" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.221119.43115" targetFramework="net481" />
  <package id="nilnul.collection._axiomatic_._LIB_" version="1.0.230524.152505-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.230524.154829-sym" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.230603.171913-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.230517.130110-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230531.94846-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.230603.142050-sym" targetFramework="net481" />
  <package id="nilnul.num.complex._func_._LIB_" version="1.0.230522.85453-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230507.144737-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.230509.153304-sym" targetFramework="net481" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.220731.175331" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.230603.171914-sym" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>